html {
  background-color: #111;
  font-family: 'Press Start 2P', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#wrap {
  width: 800px;
  margin: 10px auto;
}

div#container {
  background-color: #F00;
  background-image: url('imgs/forest.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  width: 800px;
  height: 600px;
  border: 1px solid black;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

div#controls {
  border-bottom: 2px white solid;
  padding: 10px;
  position: relative;
}

div#ad-bottom {
  position: relative;
  width: 728px;
  margin: 10px auto;
}

span#see-scores {
  color: #FFF;
  bottom: 20px;
  right: 20px;
  font-size: 1em;
  position: absolute;
}

button#submit {
  font-family: 'Press Start 2P', sans-serif;
  bottom: 80px;
  right: 25px;
  position: absolute;
}

input#name {
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
  width: 60px;
  bottom: 80px;
  right: 135px;
  position: absolute;
}

.end {
  display: none;
}

div#preload {
  display: none;
}

div#health {
  bottom: 20px;
  right: 20px;
  height: 20px;
  position: absolute;
}

img#wolf {
  bottom: 0px;
  left: 0px;
  position: absolute;
}

img.splosion {
  bottom: 30px;
  left: 20px;
  position: absolute;
}

img#fist {
  top: 30px;
  right: 30px;
  position: absolute;
  z-index: 5;
}

img#title {
  top: 10px;
  left: 130px;
  position: absolute;
  z-index: 6;
}

span#message {
  font-size: 1.7em;
  width: 300px;
  bottom: 150px;
  right: 20px;
  position: absolute;
}

span#score {
  font-size: 1.3em;
  bottom: 50px;
  right: 30px;
  position: absolute;
}
