html {
  background-color: #111;
  font-family: 'Press Start 2P', sans-serif;
  color: #FFF;
  text-shadow: -.1em 0 .06em #000, 0 .1em .06em #000, .1em 0 .06em #000, 0 -.1em .06em #000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div#wrap {
  width: 800px;
  margin: 10px auto;
}

div#container {
  background-color: #F00;
  background-image: url('imgs/forest.jpg');
  background-position: center;
  background-repeat: no-repeat; 
  width: 800px;
  height: 600px;
  border: 1px solid black;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: none;
}

div#controls {
  border-bottom: 2px white solid;
  padding: 10px;
  position: relative;
}

div#ad-bottom {
  position: relative;
  width: 728px;
  margin: 10px auto;
}

span#see-scores {
  bottom: 20px;
  right: 20px;
  font-size: 1em;
  position: absolute;
}

button#submit {
  font-family: 'Press Start 2P', sans-serif;
  bottom: 80px;
  right: 25px;
  position: absolute;
  z-index: 2;
}

input#name {
  font-family: 'Press Start 2P', sans-serif;
  text-transform: uppercase;
  width: 60px;
  bottom: 80px;
  right: 135px;
  position: absolute;
  z-index: 2;
}

.end {
  display: none;
}

div#preload {
  display: none;
}

div#health {
  bottom: 20px;
  right: 20px;
  height: 20px;
  position: absolute;
}

img#wolf {
  bottom: 0px;
  left: 0px;
  position: absolute;
}

img.splosion {
  bottom: 30px;
  left: 20px;
  position: absolute;
}

img#fist {
  top: 30px;
  right: 30px;
  position: absolute;
  z-index: 5;
}

img#title {
  top: 10px;
  left: 130px;
  position: absolute;
  z-index: 6;
}

img#sweetiebot {
  right: -500px;
  bottom: -500px;
  width: 420px;
  height: 478px;
  z-index: 0;
  position: absolute;
}

div#loading {
  background-color: red;
  text-align: center;
  height: 30px;
  padding: 10px;
  margin: 40px auto;
}

span#game-over {
  font-size: 3em;
  text-align: center;
  margin: 20px auto;
  display: block;
  top: 700px;
  left: 240px;
  position: absolute;
}

span#too-bad {
  font-size: 3.2em;
  width: 700px;
  top: 360px;
  left: 30px;
  position: absolute;
  display: none;
}

div#play-again {
  font-size: 2em;
  width: 380px;
  padding: 0px;
  text-align: right;
  top: 230px;
  left: -20px;
  position: absolute;
}

div#high-scores {
  font-size: 2.3em;
  width: 350px;
  height: 550px;
  top: 700px;
  left: 20px;
  padding: 20px;
  z-index: 10;
  position: absolute;
}

div#hide-scores {
  margin: 10px auto;
  width: 103px;
}

span#message {
  font-size: 1.7em;
  width: 300px;
  bottom: 150px;
  right: 20px;
  position: absolute;
}

span.score-right {
  float: right;
  display: block;
}
span#score {
  font-size: 1.3em;
  bottom: 50px;
  right: 30px;
  position: absolute;
}
